body {
    font-size: 24px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRUJjG9iobWApfN02kKoIWsh7svjKpi_qfZXw&usqp=CAU)
    }

.boxes {
    background-color: blue;
    color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 5px;

}